<div class="container">
  <div class="row justify-content-around">
    <div class="col text-center p-0">
      <div>
        <img
          src="/assets/icons/menuTuto.png"
          alt="tutorial icon"
          (click)="goToHome()"
        />
      </div>
      <div>
        <p>Tutoriel</p>
      </div>
    </div>
    <div class="col text-center p-0">
      <div>
        <img
          src="/assets/icons/menuList.png"
          alt="list icon"
          (click)="goToList()"
        />
      </div>
      <div>
        <p>Liste</p>
      </div>
    </div>
    <div class="col text-center p-0">
      <div>
        <img
          src="/assets/icons/menuMap.png"
          alt="map icon"
          (click)="goToMap()"
        />
      </div>
      <div>
        <p>Carte</p>
      </div>
    </div>
    <div class="col text-center p-0">
      <div>
        <img
          src="/assets/icons/menuPets.png"
          alt="pets icon"
          (click)="goToHome()"
        />
      </div>
      <div>
        <p>Animaux</p>
      </div>
    </div>
    <div class="col text-center p-0">
      <div>
        <img
          src="/assets/icons/menuProfil.png"
          alt="profil icon"
          (click)="goToHome()"
        />
      </div>
      <div>
        <p>Compte</p>
      </div>
    </div>
  </div>
</div>
