<div class="menuContent">
  <div>
    <img
      src="/assets/icons/menu/menuTuto.png"
      alt="tutorial icon"
      (click)="goToHome()"
    />
    <p>Tutoriel</p>
  </div>
  <div>
    <img
      src="/assets/icons/menu/menuList.png"
      alt="list icon"
      (click)="goToList()"
    />
    <p>Liste</p>
  </div>
  <div>
    <img
      src="/assets/icons/menu/menuMap.png"
      alt="map icon"
      (click)="goToMap()"
    />
    <p>Carte</p>
  </div>
  <div>
    <img
      src="/assets/icons/menu/menuPets.png"
      alt="pets icon"
      (click)="goToPets()"
    />
    <p>Animaux</p>
  </div>
  <div>
    <img
      src="/assets/icons/menu/menuProfil.png"
      alt="profil icon"
      (click)="goToProfile()"
    />
    <p>Compte</p>
  </div>
</div>
