<div class="container">
  <!-- Title -->
  <div class="row mt-2">
    <div class="col-12">
      <h1
        class="display-1 fw-bold text-center"
        [style.color]="designService.primaryColor"
      >
        PawAtlas
      </h1>
      <h5 class="fw-bold text-center">En cours de développement...</h5>
    </div>
  </div>
  <!-- Submit -->
  <div class="row mt-2 justify-content-center">
    <div class="col-6 text-center">
      <button
        class="btn btn-success btn-lg rounded-2"
        type="submit"
        (click)="logOut()"
      >
        Déconnexion
      </button>
    </div>
  </div>
</div>
