body {
  overflow: hidden;
  font: 16px Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1900px;
}

/* GLOBAL COLORS */

:root {
  --primary-color: #087042;
  --secondary-color: #7ec579;
  --tertiary-color: #3ddc84;
  --border-color: #ccc;
  --button-default-bg-color: var(--secondary-color);
  --button-disabled-bg-color: #ccc;
  --button-submit-bg-color: var(--primary-color);
  --button-edit-bg-color: #f0ad4e;
  --button-cancel-bg-color: #ff6161;
}

/* TITLES AND TEXT */

h1 {
  color: var(--primary-color);
}

h1,
h2,
h3,
p {
  margin: 0.75rem 0;
}
